* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgb(37, 37, 37) 15%, rgb(0, 0, 0) 100%);
  color: White;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 9em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background: rgb(37, 37, 37);
  background: radial-gradient(circle, rgb(37, 37, 37) 15%, rgb(0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}
header .logo {
  width: 120px;
  margin-top: 8px;
}
header nav .logo {
  display: none;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  color: white;
  display: block;
  margin: 0 2px;
  font-weight: 400;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  cursor: pointer;
  transition: font-size 0.3s ease;
}
header nav ul li a:hover {
  background: #424242;
  font-size: 17px;
}
header nav ul li a.active {
  background: #d2caca;
  color: rgb(9, 9, 9);
}
header .hamburger {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
header .hamburger:hover {
  background: #817e8e;
}
header .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #adb5b7;
}

@media only screen and (max-width: 768px) {
  header {
    width: 90%;
    padding: 0 20px;
  }
  nav {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 999;
    width: 200px;
    height: 100vh;
    background-color: rgb(10, 10, 10);
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #nav_check:checked ~ nav {
    left: 0px;
  }
  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  .hamburger {
    display: block;
  }
}
main div video {
  width: 100%;
}

@media (max-width: 640px) {
  .videoMain {
    margin: 84px 0;
  }
}
.pantalla-dividida {
  display: flex;
}
.pantalla-dividida .izquierda {
  background: rgb(37, 37, 37);
  background: radial-gradient(circle, rgb(37, 37, 37) 15%, rgb(0, 0, 0) 100%);
  height: 100vh;
  width: 40%;
  display: grid;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.pantalla-dividida .izquierda .pantalla-dividida .h2Somos {
  font-family: "Jost", sans-serif;
  font-weight: 100;
  font-size: 5em;
}
.pantalla-dividida .izquierda .pantalla-dividida .h2Somos .spanIrati {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.pantalla-dividida .izquierda .pantalla-dividida .h4Sub {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0 2em;
  font-weight: 300;
}
.pantalla-dividida .izquierda .pNosotros {
  font-size: 1.4em;
  line-height: 1.3em;
  margin: 0 2em;
  font-weight: 300;
  text-align: center;
}

.section__servicios {
  display: grid;
  justify-items: center;
}
.section__servicios .ContenedorTituloParrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin: 3%;
  text-align: -webkit-center;
}
.section__servicios .contenedorServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin: 2%;
}/*# sourceMappingURL=main.css.map */